import { useState } from "react";
import Tasks from "./components/Tasks";
import Habits from "./components/Habits";

function App() {
  const [activePage, setActivePage] = useState("tasks");

  return (
    <div
      style={{
        display: "flex",
        height: "100vh",
        fontFamily: "Arial",
      }}
    >
      <div
        style={{
          width: "250px",
          background: "#1f2937",
          color: "white",
          padding: "20px",
        }}
      >
        <h2>Life OS</h2>

        <div style={{ marginTop: "30px" }}>
          <p
            style={{ cursor: "pointer" }}
            onClick={() => setActivePage("tasks")}
          >
            ✅ Tasks
          </p>

          <p
            style={{ cursor: "pointer" }}
            onClick={() => setActivePage("habits")}
          >
            🔥 Habits
          </p>
        </div>
      </div>

      <div
        style={{
          flex: 1,
          padding: "30px",
          background: "#f3f4f6",
        }}
      >
        {activePage === "tasks" && <Tasks />}
        {activePage === "habits" && <Habits />}
      </div>
    </div>
  );
}

export default App;
